* {
    border: none;
    border-radius: 0px;
    font-family: "RobotoMono Nerd Font";
    font-weight: normal;
    font-size: 15px;
    min-height: 10px;
}

@import "themes/evergarden.css";

window {
    background-color: rgba(0,0,0,0.5);
}
